@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./css/index.css">

</head>

<body>
<!-- partial:index.partial.html -->
<div id="login-form-wrap">
  <h2>ADMIN</h2>
  <form id="login-form">
    <p>
    <input type="text" id="username" name="username" placeholder="Username" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="password" id="passsword" name="passsword" placeholder="passsword" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
    <input type="submit" id="login" value="Login" asp-area="" asp-page="/dashboard">
    </p>
  </form>
   <div id="create-account-wrap">
    <p> <a href="#"></a><p>
  </div>
  </div><!--create-account-wrap-->
<!--login-form-wrap-->
<!-- partial -->
</body>
